body {
    margin: 0;
}



.dbscan .data-point {
    stroke: none;
    fill: #888;
}

.dbscan .epsilon {
    stroke: #555;
    stroke-width: 1px;
    fill: none
}

.acronym {
    color: #aaa;
    font-size: 16px;
}

.acronym strong {
    color: #fff;
}