.knn {
  margin: auto;
  padding-top: 10px;
}

.knn,
.knn .ui.header {
  color: #fff !important;
}

.knn circle,
.knn line {
  stroke: #999;
  fill: none;
}

.knn text {
  fill: #fff;
}

.knn .training-point {
  stroke: none;
}

.knn .border {
  fill: none;
  stroke-width: 1px;
  stroke: #aaa;
}

.knn .legend {
  margin-bottom: 3px;
}

.knn .legend .legend-box {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px -3px 10px;
}

.knn .legend .legend-label {
  display: inline-block;
  font-weight: regular;
  font-size: 12px;
  margin-bottom: 3px;
}