@import url('../public/semantic/semantic.css');

body {
    background-color: rgb(51, 51, 51);
}

.application-title {
  margin-bottom: 20px;
}

.dark-panel {
    background-color: rgb(51, 51, 51);
    color: #fff;
    padding: 10px;
}

.dark-panel .ui.header {
  color: #fff !important;
}

.centered-panel {
    width: 600px;
    margin: auto;
}

svg > rect {
    fill: rgb(51, 51, 51);
    stroke: rgb(91, 91, 91);
    stroke-width: 1px;
}

a {
  color: #ccc;
  margin-top: 10px;
  cursor: pointer;
}

a:hover {
  color: #ccc;
}

.child-container {
  margin-top: 40px;
  background-color: rgb(51, 51, 51);
}

